/* Add here all your css styles (customizations) */
/*Promo Background Images*/
.promo-bg-img-v1 {
  background: url(../img/fotolia_120438661.jpg) no-repeat;
  background-size: cover;
}

.promo-section h2:after {
  right: 10%;
}
.promo-section h2:before {
  left: 10%;
}

.promo-text:after {
  left: 40%;
  content: "";
  height: 1px;
  width: 200px;
  bottom: -10px;
  background: #fff;
  margin-left: -50px;
  position: absolute;
}
